{% extends 'base.html.twig' %}

{% block title %}Une annonce{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Vous êtes sur l'affichage d'une annonce</h1>
    <hr>
</div>
{% endblock %}
